<header>
    <div class="container">
        <div class="header">
            <div class="logo">ZenduForms</div>
            <div class="navigation">
                <a href="#"class="navigation__item">
                    <img src="../../../../assets/icons/forms.svg" class="item__image">
                    <span class="item__label">Forms</span>
                </a>
                <a href="#"class="navigation__item">
                    <img src="../../../../assets/icons/customers.svg" class="item__image">
                    <span class="item__label">Customers</span>
                </a>
                <a href="#"class="navigation__item navigation__item-active">
                    <img src="../../../../assets/icons/submissions.svg" class="item__image">
                    <span class="item__label">Submissions</span>
                </a>
                <a href="#"class="navigation__item">
                    <img src="../../../../assets/icons/history.svg" class="item__image">
                    <span class="item__label">History</span>
                </a>
                <a href="#"class="navigation__item">
                    <img src="../../../../assets/icons/chart.svg" class="item__image">
                    <span class="item__label">Respanorts</span>
                </a>
                <a href="#"class="navigation__item">
                    <img src="../../../../assets/icons/chart.svg" class="item__image">
                    <span class="item__label">Workflow</span>
                </a>
            </div>
            <div class="additional">
                <button class="additional__btn">
                    <img src="../../../../assets/icons/bell.svg" alt="Bell">
                </button>
                <button class="additional__btn">
                    <img src="../../../../assets/icons/exit.svg" alt="Exit">
                </button>
            </div>
        </div>
    </div>
</header>
