table {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #ECECED;
    box-shadow: 0px 2px 10px rgba(6, 12, 27, 0.1);
    border-radius: 8px;
    border-spacing: 0;
    overflow: hidden;
}
.mat-header-cell,
.mat-cell {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #060C1B;
}
.mat-row:hover {
    background-color: #F1F5F8;
}
.mat-cell {
    font-weight: 400;
    line-height: 130%;
}

.mat-cell .mat-checkbox {
    display: none;
}
.mat-row:hover .mat-cell .mat-checkbox,
.mat-cell .mat-checkbox.mat-checkbox-checked {
    display: inline-block;
}

.pagination {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.numbers {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #060C1B;
}