table {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #ECECED;
    box-shadow: 0px 2px 10px rgba(6, 12, 27, 0.1);
    border-radius: 8px;
    border-spacing: 0;
    overflow: hidden;
}
thead td {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #060C1B;
}
thead td {
    border: none;
}
td {
    height: 48px;
    border-top: 1px solid #ECECED;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #060C1B;
}
tr, 
td {
    margin: 0;
}
tr {
    width: 100%;
}
.first {
    position: relative;
    width: 64px;
}
thead input,
.checkbox {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #B8B9BC;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}
.checkbox {
    display: none;
}
.row:hover {
    background: #F1F5F8;
}
.row:hover .checkbox {
    display: block;
}

.status-block {
    max-width: fit-content;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
}
.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.success {
    background: #D7E5DA;
    color: #53D86A;
    border: 1px solid #53D86A;
}
.success .dot {
    background-color: #53D86A;
}
.error {
    background: rgba(255, 61, 0, 0.1);
    color: #FF3D00;;
    border: 1px solid #FF3D00;
}
.error .dot {
    background-color: #FF3D00;
}
.unassigned {
    background: #ECECED;
    color: #B8B9BC;
    border: 1px solid #B8B9BC;
}
.unassigned .dot {
    background-color: #B8B9BC;
}